<form action="{{@PATH}}" method="post">
    <td>
        <label>
            <input class="form-control input-sm"
                   type="text"
                   name="Key"
                   value="">
        </label>
    </td>
    <td>
        <label>
            <input class="form-control input-sm"
                   type="text"
                   name="Value"
                   value="">
        </label>
    </td>

    <td>
        <label>
            <input type="text"
                   name="Description"
                   value="">
        </label>
    </td>

    <td>

        <button class="btn btn-xs bg-black-active"
                type="submit" name="manageMode" value="add">
            <i class="fa fa-save"> <strong>Save</strong></i>
        </button>

    </td>
</form>