<!--suppress ALL -->

<td>
    <span>{{@tableItem['ID_LOG']}}</span>
</td>
<td>
    <span>{{@tableItem['ID_CHECK']}}</span>
</td>
<td>
    <span class="{{isset(@edit)&(@tableItem['ID']==@editID) ? 'hide' : ''}}">{{@tableItem['CAPTION']}}</span>
</td>
<td>
    <span class="{{isset(@edit)&(@tableItem['ID']==@editID) ? 'hide' : ''}}">{{@tableItem['DESCRIPTION']}}</span>
</td>
<td>
    <span class="{{isset(@edit)&(@tableItem['ID']==@editID) ? 'hide' : ''}}">{{@tableItem['USR']}}</span>
</td>
<td>
    <span class="{{isset(@edit)&(@tableItem['ID']==@editID) ? 'hide' : ''}}">{{@tableItem['DT_BEGIN']}}</span>
</td>
<td>
    <span class="{{isset(@edit)&(@tableItem['ID']==@editID) ? 'hide' : ''}}">{{@tableItem['DT_END']}}</span>
</td>
<td>
    <span class="{{isset(@edit)&(@tableItem['ID']==@editID) ? 'hide' : ''}}">{{@tableItem['SH_LOG']}}</span>
</td>
<td>
    <span class="{{isset(@edit)&(@tableItem['ID']==@editID) ? 'hide' : ''}}">{{@tableItem['STATUS']}}</span>
</td>
