{{ @test }}
<button id="start" class="btn btn-primary btn-info"></button>

<table id="example" class="table table-hover table-bordered table-condensed">
    <thead>
    <tr>
        <th class="text-center ">ID</th>
        <th class="text-center">ID&nbspрод.</th>
        <th class="text-center">Название</th>
        <th class="text-center">Родитель</th>
        <th class="text-center">Описание</th>
        <th class="text-center">Ссылка</th>
        <th class="text-center">Тип</th>
        <th class="text-center">Иконка</th>

    </tr>
    </thead>


</table>






